{% set app_name = 'Wano' %}
{% set app_title = (meta_title ? app_name ~ ' | ' ~ meta_title : '') %}

<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
		<meta charset="utf-8"/>
		<title>{{ app_title }}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
		<meta name="x5-orientation" content="portrait">
		<meta name="screen-orientation" content="portrait">
		<meta name="x5-page-mode" content="app">
		<meta name="browsermode" content="application">

		<link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicons/favicon-16x16.png">

		{% block styles %}
			<link rel="stylesheet" href="../../build/styles.min.css" media="screen"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		{% endblock styles %}

		<script src="../../projects/_js/_header.js"></script>
		<script src="../../projects/_js/_tabs.js"></script>
		<script src="../../projects/_js/_carousel.js"></script>
		<script src="../../projects/_js/_modal.js"></script>
		
	</head>

	<body {{ body_classes ? 'class="' ~ body_classes ~ '"' }}>
		{% block body '' %}
		{% block extra_javascripts '' %}
	</body>

</html>
