<nav class="nav is-mobile" arial-label="Mobile">
    <div class="nav_container">
        <ul class="list is-left">
            <li class="list_item">
                <a href="#" class="list_itemLink" title="">
                    <span class="icons icon_home"></span>
                    Home
                </a>
            </li>
            <li class="list_item">
                <a href="#marketplace" class="list_itemLink" title="">
                    <span class="icons icon_market"></span>
                    Market
                </a>
            </li>
        </ul>
        <button class="btnMobile">
            <div class="btnMobile_container">
                <span class="icons icon_wallet"></span>
                My Wallet
                <span class="alert">4</span>
            </div>
        </button>
        <ul class="list is-right">
            <li class="list_item">
                <a href="#becomeCreator" class="list_itemLink" title="">
                    <span class="icons icon_about"></span>
                    About
                </a>
            </li>
            <li class="list_item">
                <a href="#community" class="list_itemLink" title="">
                    <span class="icons icon_community"></span>
                    Community
                </a>
            </li>
        </ul>
    </div>
</nav>