$black: #2b2b2b;
$white: #fbfbfb;
$white: lighten(#c6c7b4, 16);
$premium: lighten(#b39ddb, 8);

body {
    color: $black;
    background: linear-gradient(
        to right,
        lighten($white, 4),
        darken($white, 8)
    );
}

a {
    color: inherit;
}
