// Sizes :
// ----------------------------------------
$headerHeight: 12rem;
$headerMobileHeight: 12rem;
$navMobileHeight: 6.4rem;

// Durations :
// ----------------------------------------
$time1: 0.25s;
$time2: 0.5s;
$time3: 0.75s;
$time4: 1s;

// Transitions :
// ----------------------------------------
$ease1: cubic-bezier(0.25, 0.5, 0.35, 1);
