.section {
    &.is-becomeCreator {
        .section_title {
            margin-bottom: 2rem;
        }

        .section_subtitle {
            margin-bottom: 8rem;
        }
    }
}

// Responsive
// ----------------------------------------
// Devices > 960px
@include smallDesktop {
    .section {
        &.is-becomeCreator {
            .section_head {
                text-align: center;
            }
        }
    }
}
